<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Manage Self</title>
</head>

<body></body>
<div class="container-fluid">
  <h1>Managing {{ activeuser }}</h1>
  <div id="alert"></div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <h5 class="card-header">
          Change Password
        </h5>
        <div class="card-body">
          <form class="bd-example" onSubmit="return changePassword();">
            <fieldset>
              <p>
                <label for="password">Password</label>
                <input type="password" id="password" required minlength="8" onBlur="checkMatch();">
              </p>
              <p>
                <label for="password2">Confirm Password</label>
                <input type="password" id="password2" required minlength="8" onBlur="checkMatch();">
              </p>
              <p>
                <button type="submit" class="btn btn-primary" id="update">Update Password</button>
              </p>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <h5 class="card-header">
          Other Actions
        </h5>
        <div class="card-body">
          <ul>
            <li><a href="/" class="nav-link active">Home</a></li>
            {% if admin %}
            <li><a href="/magicauth/users/manage" class="nav-link active">Manage Users</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <script>
    function checkMatch() {
      var password1 = document.getElementById('password').value;
      var password2 = document.getElementById('password2').value;
      if (password1 != password2 && password2.length > 0) {
        document.getElementById("password2").setCustomValidity("Password do not match!");
      } else {
        document.getElementById("password2").setCustomValidity("");
      }
    }

    function changePassword() {
      var button = document.getElementById("update");
      var password = document.getElementById('password').value;

      button.innerText = "Updating...";
      fetch("self", {
        headers: {
          'Content-Type': 'application/json'
        },
        method: "POST",
        body: JSON.stringify({ "newpassword": password })
      })
        .then(function (response) {
          var button = document.getElementById("update");
          if (response.ok) {
            button.innerText = "Updated!";
            window.setTimeout("window.location.reload()", 3000);
          } else {
            button.innerText = "Update Password";
            return response.text();
          }
        })
        .then(function (txt) {
          if (txt) {
            showAlert(txt);
          }
        })
        .catch(function (error) {
          showAlert(error);
        });
      return false;
    }


    function showAlert(msg) {
      var html = '<div class="alert alert-warning alert-dismissible fade show" role="alert">' +
        '<strong>Error!</strong> ' + msg +
        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
        '<span aria-hidden="true">&times;</span>' +
        '</button>' +
        '</div>';
      $('#alert').append(html);
    }
  </script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  </body>

</html>